@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Learn Dot Net Core 7</h1>
    <p>Learn EF, DI, Interfaces, Repository Pattern and clean code using CRUD examples.</p>
</div>
